.button1 {
    background-color: #C7E7E1;
    /*Цвет кнопки*/
    color: #124C5F;
    /*Цвет текста*/
    border: 0;
    /*Края рамки*/
    height: 40px;
    border-radius: 10px;
    /*Скругление рамки*/
}

.button1:hover {
    background-color: #124C5F;
    /*Цвет кнопки*/
    color: #C7E7E1;
    /*Цвет текста*/
    border: 0;
    /*Края рамки*/
    height: 40px;
    border-radius: 10px;
    /*Скругление рамки*/
}

.button2 {
    background-color: #124C5F;
    color: #C7E7E1;
    border: 0;
    height: 40px;
    border-radius: 10px;
}

.button2:hover {
    background-color: #C7E7E1;
    color: #124C5F;
    border: 0;
    height: 40px;
    border-radius: 10px;
}


a:not(visited) {
    color: #124C5F;
    text-decoration-line: none;
}

a:visited {
    color: orange;
    text-decoration-line: none;
}

#logo {
    width: 192px;
    height: 50px;
}


#dog {
    width: 313px;
    height: 328px;
}

#fon {
    background-image: url(../img/Vector\ 1.png);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
}

.subtitle1 {
    width: 200px;
    border-bottom: 3px solid #124C5F;
}

#pic1 {
    width: 91px;
    height: 134px;
}

#pic2 {
    width: 64px;
    height: 64px;
}

#pic3 {
    width: 106px;
    height: 73px;
}

#pic4 {
    width: 81px;
    height: 66px;
}

#pic5 {
    width: 65px;
    height: 71px;
}

#pic6 {
    width: 589PX;
    height: 424px;
    background: url(../img/Vector1.png) no-repeat;

}

#picture {
    width: 92px;
    height: 92px;
}

#picture1 {
    width: 292px;
    height: 431px;
    background: #DDC7ED no-repeat;
    border-radius: 20px;
}

input {
    border-radius: 10px;
    border-color: #124C5F;
}

.media {
    width: 50px;
}

.text {
    font-size: 20px;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}