.flexul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
    color: rgb(165, 169, 218);
}

.body {
    display: flex;
    flex-wrap: wrap;
}

.li {
    width: 200px;
    text-align: center;
    height: 50px;
    align-content: center;
    margin: 30px;
    background-color: rgb(69, 58, 169);
    border-radius: 10px;
}

.li:hover {
    background-color: rgb(125, 58, 169);
    color: rgb(165, 169, 218);
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: auto;
}


.header {
    display: flex;
    background-color: rgb(165, 169, 218);
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header div {
    width: 10px;
    padding-left: 30px;
}


.firstthing {
    /*Блок с приветственной надписью и иконками*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 125px;
    background-color: rgb(69, 58, 169);
}

.p1 {
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    align-items: center;
}

.pic1 {
    height: 100px;
}

.pic2 {
    height: 100px;
}

p {
    font-size: 30px;
    font-style: italic;
}

.secondthing {
    /*Первый блок с изображениями*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(165, 169, 218);
    height: auto;
}

.pic3 {
    width: 300px;
    height: 300px;
    border-radius: 100px;
    transition: 1s;
}

.pic3:hover {
    transform: scale(1.2);
}

.block1 {
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p2 {
    align-content: center;
    text-align: right;
}

.block2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 60px;
}

.p3 {
    align-content: center;
    text-align: left;
}

.thirdthing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(165, 169, 218);
}

.pic4 {
    width: 440px;
    height: auto;
    margin-top: 40px;
    border-radius: 100px;
    margin-bottom: 40px;
}

.p5 {
    background-color: rgb(69, 58, 169);
    height: 110px;
    margin: 0px;
    text-align: center;
    padding-top: calc(110px / 2);
}

.info {
    display: inline-block;
    /* Строчно-блочный элемент */
    position: relative;
}


.info:hover::after {
    content: attr(data-info);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    left: 0;
    right: 0;
    bottom: 30px;
    /* Положение подсказки */
    z-index: 1;
    /* Отображаем подсказку поверх других элементов */
    background: rgb(69, 58, 169);
    /* Полупрозрачный цвет фона */
    color: #fff;
    /* Цвет текста */
    text-align: center;
    /* Выравнивание текста по центру */
    font-size: 14px;
    /* Размер текста подсказки */
    padding: 5px 10px;
    /* Поля */
    border: 1px solid #333;
    /* Параметры рамки */
}

.footer {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: rgb(69, 58, 169);
}

.p6 {
    font-size: 25px;
}

.footer1 {
    font-size: large;
    text-align: center;
    padding-top: 30px;
}

#email {
    border-radius: 10px;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}